# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
.next/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/